<ion-view class="pay">
    <ion-header-bar align-title="center" class="bar-energized">
<!--         <a class="btn-back" ng-click="go(-1)"></a>
 -->        <h1 class="title">预定成功</h1>
    </ion-header-bar>
<div class="pay-success">
	<img src="metro/static/img/pay-success.png" style="width:100%" />
	  <div class="order-number" >
                <div class="title">取餐号:</div>
                <div class="orderNumber">
                    <span>{{orderNumber}}</span>
                </div>
                <div class="tips">到店后出示上方号码，提取您的餐品</div>
            </div>
	<a href="index.html" class="xs-btn">去首页逛逛</a>
</div>
	</ion-view>