.orderInfo ion-content.has-btn {
  bottom: 50px; }

.orderInfo ion-content .order-info {
  padding: 0 10px;
  background-color: #FFFFFF; }
  .orderInfo ion-content .order-info .order-title {
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #e8ecf2;
    height: 50px;
    line-height: 50px; }
  .orderInfo ion-content .order-info .order-number {
    height: 190px;
    text-align: center;
    border-bottom: 1px solid #e8ecf2; }
    .orderInfo ion-content .order-info .order-number .title {
      margin: 20px auto 0;
      font-size: 14px;
      color: #999999; }
    .orderInfo ion-content .order-info .order-number .orderNumber span {
      color: #E55A17;
      font-size: 90px;
      line-height: 90px; }
    .orderInfo ion-content .order-info .order-number .tips {
      padding: 30px 0 0;
      color: #333;
      font-size: 12px; }
  .orderInfo ion-content .order-info .order-states {
    border-bottom: 1px solid #e8ecf2;
    height: 80px; }
    .orderInfo ion-content .order-info .order-states .schedule {
      margin: 10px 20px 0;
      display: -webkit-box;
      -webkit-box-pack: justify; }
      .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first {
        text-align: center;
        background: #fff; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first .point {
          width: 36px;
          height: 36px;
          position: relative; }
          .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first .point .icon-schedule {
            width: 36px;
            height: 36px;
            display: block;
            background-image: url(../img/order/schedule.png);
            background-size: contain;
            background-repeat: no-repeat; }
          .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first .point .content {
            text-align: center;
            width: 80px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            top: 40px;
            line-height: 18px; }
            .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first .point .content .finishtime {
              font-size: 12px; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item-first.active .point .icon-schedule {
          background-image: url(../img/order/schedule_active.png); }
      .orderInfo ion-content .order-info .order-states .schedule .schedule-item {
        -webkit-box-flex: 1;
        background: #fff;
        -webkit-box-align: center;
        display: -webkit-box; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item .line {
          height: 2px;
          background-color: #E8ECF2;
          -webkit-box-flex: 1; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item .point {
          width: 36px;
          height: 36px;
          position: relative; }
          .orderInfo ion-content .order-info .order-states .schedule .schedule-item .point .icon-schedule {
            width: 36px;
            height: 36px;
            display: block;
            background-image: url(../img/order/schedule.png);
            background-size: contain;
            background-repeat: no-repeat; }
          .orderInfo ion-content .order-info .order-states .schedule .schedule-item .point .content {
            text-align: center;
            width: 80px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            top: 40px;
            line-height: 18px; }
            .orderInfo ion-content .order-info .order-states .schedule .schedule-item .point .content .finishtime {
              font-size: 12px; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item.active .line {
          background-color: #15cca9; }
        .orderInfo ion-content .order-info .order-states .schedule .schedule-item.active .point .icon-schedule {
          background-image: url(../img/order/schedule_active.png); }
  .orderInfo ion-content .order-info .order-store {
    background-color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 21px;
    border-bottom: 1px solid #e8ecf2;
    display: -webkit-box;
    -webkit-box-align: center; }
    .orderInfo ion-content .order-info .order-store i.icon-store {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url(../img/order/icon-store.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0 6px; }
  .orderInfo ion-content .order-info .order-price {
    padding: 0 6px;
    background-color: #FFFFFF; }
    .orderInfo ion-content .order-info .order-price > div {
      height: 40px;
      border-bottom: 1px solid #e8ecf2;
      display: -webkit-box;
      -webkit-box-pack: justify;
      -webkit-box-align: center; }
      .orderInfo ion-content .order-info .order-price > div:last-child {
        border-bottom: 0; }
      .orderInfo ion-content .order-info .order-price > div .price {
        color: #e65a16; }
        .orderInfo ion-content .order-info .order-price > div .price:first-child {
          color: #333; }
  .orderInfo ion-content .order-info .order-detail {
    padding: 0 6px; }
    .orderInfo ion-content .order-info .order-detail .title {
      height: 40px;
      margin: 0 -16px;
      display: -webkit-box;
      padding: 0 16px;
      -webkit-box-align: center;
      border-bottom: 1px solid #e8ecf2; }
      .orderInfo ion-content .order-info .order-detail .title .icon-order {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../img/order/icon-order.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 6px; }
    .orderInfo ion-content .order-info .order-detail .content {
      margin: 0 -16px;
      padding: 16px 16px 0; }
      .orderInfo ion-content .order-info .order-detail .content div {
        padding-bottom: 13px;
        color: #333;
        font-size: 12px; }
        .orderInfo ion-content .order-info .order-detail .content div .left {
          color: #666; }
  .orderInfo ion-content .order-info .list {
    margin-bottom: 0; }
    .orderInfo ion-content .order-info .list .xs-item1 {
      background-color: white;
      padding: 10px 0; }
  .orderInfo ion-content .order-info .spline {
    height: 10px;
    margin: 0 -10px;
    background-color: #f3f5f8; }

.orderInfo .btn-pay {
  height: 50px;
  background-color: #f9d20b;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #784203;
  font-size: 16px; }
