.posScan{
  ion-content{
    .store-name{
      text-align: center;
      margin-top: 100px;
    }
    .orderNumber{
      margin-top: 30px;
      width: 100%;
      input{
        width: 200px;
        margin: 0 auto;
        border-radius: 20px;
        border: 1px solid #ddd;
        padding-left: 20px;
      }
      .xs-btn{
        margin-top: 30px;
      }
    }
  }
}