<ion-view class="itemList">
    <ion-header-bar align-title="center" class="bar-energized">
        <div class="title">
            <span class="container icon">
                <span ng-bind="$parent.currStore.name" class="storeName ng-binding"></span>
            </span>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="mainScroll" scroll-event-interval="800" on-scroll="swipe()" overflow-scroll="false">
        <div class="mainContent">
            <div class="list-content">
                <ul class="list">
                    <li class="xs-item1" ng-class="{'item-divider':item.name}" ng-repeat="item in totalItemList track by $index" ng-style="{true:{'height':'{{item.height+'px'}}'}}[item.empty]">
                        <span ng-if="item.name">{{::item.name}}</span>
                        <!--<img ng-if="!item.name && !item.empty" ng-src="{{::(imgRoot + item.scan)}}" ui-sref="commodity-detail({commodityId:item.commodityId})" />-->
                        <img ng-if="!item.name && !item.empty" ng-src="{{::(imgRoot + item.scan)}}" />
                        <div class="desc" ng-if="!item.name && !item.empty">
                            <p class="title">{{::item.commodityName}}</p>
                            <div>
                                <i class="icon-am" ng-if="item.mealId == 2 || item.mealId == 1"></i>
                                <i class="icon-mm" ng-if="item.mealId == 3 || item.mealId == 1"></i>
                                <i class="icon-pm" ng-if="item.mealId == 4 || item.mealId == 1"></i>
                            </div>
                            <div class="bottom">
                                <span class="txt-price">￥{{::item.promotion}}</span>
                                <div class="number">
                                <span class="minusCount">
                                    <div ng-show="item.count > 0" style="display: table">
                                        <span class="minus" ng-click="removeItem(item)"></span>
                                        <span class="count" ng-bind="item.count"></span>
                                    </div>
                                </span>
                                    <span class="plus" ng-click="addItem(item)"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="row-basket">
            <div class="pull-right" ng-click="go('shoppingCart')" style="pointer-events: auto;">
                <a class="btn-o-tobuy {{shoppingCartTotalPrice <= 0 ? 'btn-o-tobuy-none' : 'font16'}}" ng-bind="shoppingCartTotalPrice > 0 ? '去结算':'选择任意餐品'"></a>
            </div>
            <div class="media media-basket">
                <div class="media-left">
                    <img class="media-object" src="img/home/basket.png" ng-click="basketShow = basketShow ? !basketShow:true">
                    <div class="xs-badge">
                        <span class="badge" ng-bind="shoppingCartTotalNum"></span>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading" ng-bind="'￥' + (shoppingCartTotalPrice|number:2)"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>