<ion-view class="FAQ">
    <ion-header-bar align-title="center" class="bar-energized">
        <a class="btn-back" ng-click="go(-1)"></a>
        <div class="title">常见问题</div>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何修改门店？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">点击首页顶部门店名称，进入门店选择页面，即可修改门店。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">团餐价格计算方法？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">1.优惠券只抵扣餐品价格，不抵扣配送费。
                    2.团餐价格计算方式：餐品优先享有团餐优惠，再减免优惠券相应金额。
                </div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何查询订单及订单状态？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">在“我的”—“我的订单”中可以查询订单及订单状态。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何查看我的优惠券？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">在“我的”—“我的优惠券”中可以查看优惠券。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何自提取餐？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">请在预约的取餐时间段到达下单的门店，出示取餐号，即可领取餐品。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何取消订单？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">未支付订单可以在“我的”—“我的订单”—“待支付”中取消订单，已支付且准备中的订单请联系客服，已支付且等待取餐的订单不可取消。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">下单地址或取餐时间选错了怎么办？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">未支付订单请取消订单后重新下单，已支付订单请联系客服退款。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">申请退款后，钱如何退回？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">退款的款项将在1-5个工作日原路退回。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何联系客服？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">您可以直接编辑内容发送至鲜食1号公众号或拨打客服电话400-6758-517。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">每家门店都支持配送吗？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">目前仅巴比面点临空旗舰店提供配送服务。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">为什么选择门店配送时找不到我所在的地址？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">很抱歉，您所在区域暂不提供配送服务。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">门店配送起送金额是多少？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">订单金额满30元起送。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">门店配送是否需要配送费？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">推广期间免配送费。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">是否支持货到付款？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">目前不支持货到付款，请使用微信支付在线付款。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">企业代码是什么？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">企业代码是已申请团餐服务的单位唯一代码，此代码用于确认配送地址和享有的折扣。如贵司已申请团餐服务，您可以向贵司行政询问代码或拨打客服电话查询。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">如何申请开通企业团餐？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">请拨打客服电话400-6758-517申请开通。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">企业团餐有优惠吗？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">企业团餐享有相应折扣，详情请拨打客服电话咨询。</div>
            </div>
        </div>
        <div class="QA">
            <div class="Q">
                <i class="icon-Q"></i>
                <div class="title">企业团餐的拼团截止时间是什么？</div>
            </div>
            <div class="A">
                <i class="icon-A"></i>
                <div class="content">指门店停止接单时间，请在截止时间前完成支付。</div>
            </div>
        </div>
    </ion-content>
</ion-view>